{% set fullPageForm = false %}
{% import "_includes/forms" as forms %}

{# {% set tabs = {
	'products': {url:'#productsTab', label:'Products', elementType:'kuriousagency\\commerce\\adminorders\\elements\\Variant'},
} %}

{% set bundles = craft.app.plugins.isPluginInstalled('commerce-bundles') and craft.app.plugins.isPluginEnabled('commerce-bundles') %}
{% if bundles %}
	{% set tabs = tabs|merge({'bundles': {url:'#bundlesTab', label:'Bundles', elementType:'kuriousagency\\commerce\\adminorders\\elements\\Bundle'}}) %}
{% endif %}

{% set digital = craft.app.plugins.isPluginInstalled('digital-products') and craft.app.plugins.isPluginEnabled('digital-products') %}
{% if digital %}
{% set tabs = tabs|merge({'digital': {url:'#digitalTab', label:'Digital Products', elementType:'kuriousagency\\commerce\\adminorders\\elements\\Digital'}}) %}
{% endif %} #}

{% set tabs = purchasableTypes %}

{% block content %}
	<div id="adminOrders" class="pane">
		{% if showTabs is defined and showTabs %}
			{% include "_includes/tabs" %}
		{% endif %}

		{% for tab in tabs %}
			<div id="{{ tab.url|replace('#','') }}" class="tab {{ not loop.first ? 'hidden' }}">
				<div class="sidebar hidden">
					<nav>
						{% include "_elements/sources" with {
							sources: craft.app.elementIndexes.getSources(tab.elementType, 'index'),
							elementType: tab.elementType
						} %}
					</nav>
				</div>
				<div class="products elementindex {{ showTabs is defined and showTabs ? 'inline' }}" data-type="{{ tab.elementType }}">
					{% include "_elements/indexcontainer" with {
						showSiteMenu: true,
						elementType: tab.elementType,
					} %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}