{% extends "commerce-admin-orders/_layouts/modal" %}
{% import "_includes/forms" as forms %}

{# {% set tabs = {
	'products': {url:'#productsTab', label:'Products', elementType:'kuriousagency\\commerce\\adminorders\\elements\\Variant'},
} %}

{% set bundles = craft.app.plugins.isPluginInstalled('commerce-bundles') and craft.app.plugins.isPluginEnabled('commerce-bundles') %}
{% if bundles %}
{% set tabs = tabs|merge({'bundles': {url:'#bundlesTab', label:'Bundles', elementType:'kuriousagency\\commerce\\adminorders\\elements\\Bundle'}}) %}
{% endif %}

{% set digital = craft.app.plugins.isPluginInstalled('digital-products') and craft.app.plugins.isPluginEnabled('digital-products') %}
{% if digital %}
{% set tabs = tabs|merge({'digital': {url:'#digitalTab', label:'Digital Products', elementType:'kuriousagency\\commerce\\adminorders\\elements\\Digital'}}) %}
{% endif %} #}

{% set tabs = purchasableTypes %}


{% block actionButton %}
	{% if fullPageForm %}
		<a href="{{cpUrl('commerce-admin-orders/orders/address?orderNumber='~order.number)}}" class="btn submit {{ order.lineItems|length ? "" : 'disabled' }}">{{ 'Continue'|t('app') }}</a>
	{% endif %}
{% endblock %}

{% block content %}

	{% include "commerce-admin-orders/admin-variant" %}

	<div id="cartPane">
		<h2>Cart</h2>
		<div class="order-details pane">
			{% if order.lineItems | length or order.totalPrice > 0 %}
			{% include "commerce-admin-orders/cart" %}
			{% else %}
				<p>There are no products in your cart</p>
			{% endif %}
		</div>
	</div>

	
	<input type="hidden" name="action" value="commerce/cart/update-cart">
	
	{{ redirectInput(cpUrl('commerce-admin-orders/orders/products?orderNumber='~order.number)) }}

	{% include "commerce-admin-orders/partials/controls" with {showCurrency:true} %}


	{% js %}
		var $form = $('#main-form'),
			$atcBtn = $form.find('.atc'),
			$headerBtn = $form.find('#header .submit');
			
		$.each($('.tableRowInfo'), function () {
			new Craft.Commerce.TableRowAdditionalInfoIcon(this);
		});

		$form.on('click','#header .submit',function(e) {
			if($(this).hasClass('disabled')) {
				e.preventDefault();
			}
		})


	{% endjs %}
	

{% endblock %}

{% do view.registerAssetBundle("kuriousagency\\commerce\\adminorders\\assetbundles\\neworder\\NewOrder") %}